* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans';
}

.navbar {
    background-color: #333;
    border-bottom: 1px solid #ddd;
    height: 60px;
    line-height: 60px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    float: right;
    text-decoration: none;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.navbar-links li {
    margin: 0 10px;
}

.navbar-links li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}


footer {
    background-color: #333;
    color: #ffffff;
    height: 60px;
    line-height: 60px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.setHeight {
    min-height: 92vh;
}

.container-welcome {
    display: flex;
    justify-content: center;

}

.container-welcome div {
    margin-top: 45vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    margin-left: 25vh;
    margin-right: 25vh;
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

label {
    color: #ffffff;
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}

button[type="submit"] {
    background-color: #ffffff;
    color: #333333;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

.alert {
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 12px;
}

.alert.danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}



.alert.success {
    color: #ffffff;
    background-color:  #009900;
    border: 1px solid #f5c6cb;
}

.alert .alert-message {
    display: block;
}
#logout-form {
    display: none;
}
.table  {
    display: flex;
    justify-content: center;
}

.table table {
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: #333333;
}

.table thead th {
    background-color: #333333;
    border-bottom: 1px solid  #ffffff;
    color:  #ffffff;
    padding: 10px;
    text-align: left;
}

.table tbody td {
    border-bottom: 1px solid #333333;
    padding: 10px;
}
.padding-start{
    margin-top:10vh;
}
.last-td{
    display: flex;
    justify-content: space-between;
}
.two-button{
    display: flex;
    justify-content: center;
    width: 50%;
}
.goback{
    background-color: #333333;
    color: #ffffff;
    width: 30%;
    padding: 10px;
    text-align: center;
}
.create{
     border: 1px solid #333333;
     color: #333333;
    width: 30%;
    padding: 10px;
    text-align: center;
 }
.position-center{
    display: flex;
    justify-content: center;
}
.goback a{
    color: #ffffff;
    text-decoration: none;
    width: 100%;
}
.create a{
    color: #333333;
    text-decoration: none;
    width: 100%;
}
.deleteButton{
    padding: 0px;
    margin: 0px;
}
